/* ========== TRANSICIONES SUAVES ========== */
:host-context(.dark-mode) * {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
/* ========== UsuarioDoctor ========== */
:host-context(.dark-mode) .card-usuarioDoctor {
  background-color: #f3eded ;
  color: #030303 ;
}
:host-context(.dark-mode) .card-usuarioDoctor div p, span {
  color: #030303 ;
}
:host-context(.dark-mode) .card-usuarioDoctor input {
  border: 1px solid #030303 ;
}
