<footer class="bg-slate-900 text-gray-400">
  <!-- Contenido principal -->
  <div class="max-w-7xl mx-auto px-6 py-12 grid grid-cols-1 md:grid-cols-4 gap-10">
    
    <!-- Marca -->
    <div>
      <div class="flex items-center gap-3 mb-4">
        <div class="p-2 rounded-lg">
            <i class="fa-solid fa-heart-pulse"></i>
        </div>
        <h3 class="text-white text-xl font-bold"><span class="text-bold">Telecuidado Mayor</span></h3>
      </div>
      <p class="text-sm leading-relaxed">
        Tu salud, nuestra prioridad. Plataforma médica integral para gestionar tus citas, historial y bienestar.
      </p>
      <div class="flex gap-3 mt-5">
        <a href="#" class="bg-gray-800 hover:bg-[#004bbc] p-2 rounded-lg transition"><i class="fa-brands fa-facebook-f text-white"></i></a>
        <a href="#" class="bg-gray-800 hover:bg-[#004bbc] p-2 rounded-lg transition"><i class="fa-brands fa-twitter text-white"></i></a>
        <a href="#" class="bg-gray-800 hover:bg-[#004bbc] p-2 rounded-lg transition"><i class="fa-brands fa-instagram text-white"></i></a>
      </div>
    </div>

    <!-- Contacto -->
    <div>
      <h4 class="text-white font-semibold mb-4">Contáctanos</h4>
      <ul class="space-y-2 text-sm">
        <li class="flex items-center gap-2"><i class="fas fa-phone text-[#004baa]"></i> +593 987 654 321</li>
        <li class="flex items-center gap-2"><i class="fas fa-envelope text-[#004baa]"></i> contacto@telecuidado.ec</li>
        <li class="flex items-start gap-2"><i class="fas fa-map-marker-alt text-[#004baa] mt-1"></i> Manta</li>
      </ul>
    </div>
  </div>

  <!-- Barra inferior -->
  <div class="border-t border-gray-700">
    <div class="max-w-7xl mx-auto px-6 py-6 flex flex-col md:flex-row justify-between items-center text-sm gap-3">
      <p>© {{ currentYear }} <span class="text-white font-semibold"><span class="text-bold">Telecuidado Mayor</span></span>. Todos los derechos reservados.</p>

    </div>
  </div>
</footer>
